<div class="center hero-unit">
  <% content_for :title do %>Home<% end %>
  <h1>Welcome to the Home Page</h1>
  <p>The Page for starting a new app</p>
  <%= link_to "Sign up", '#', class: "btn btn-primary" %>
</div>
