<% content_for :title do %>Sign up<% end %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section class="debug">
      <%= form_for @user, html: { role: "form" } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render 'fields', f: f %>
        <%= f.submit "Create my account", class: "create_user_submit btn btn-primary" %>
      <% end %>
    </section>
  </div>
</div>