<footer class="debug footer">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-bottom" role="navigation">
      <small>
        <%= link_to image_tag("rails-logo-35x45.jpeg", size: "35x45", alt: "Rails"), root_path %>
      </small>
      <ul>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>