<footer class="debug footer">
  <h1 class="sr-only">Footer</h1>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <h1 class="sr-only">Footer Navigation</h1>
    <small>
      <%= link_to image_tag("rails-logo-35x45.jpeg", size: "35x45", alt: "Rails"), root_path %>
    </small>
    <ul class="list-inline pull-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>